//---mixin----
@mixin font($font_name, $file_name, $weight, $style) {

    @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
    }
    }

@import "_normalize.scss";
@import "_fonts.scss";
@import "_variables.scss";
// @import "_vendor.scss";
@import "_global.scss";
@import "_overall.scss";
@import './components/_slider';


/* components imports */
@import './components/header';
@import './components/first';
@import './components/become';
@import './components/featured';
@import './components/featured-videos';
@import './components/newsletter';
@import './components/insp';



