.become {
    background-color: #fff;
    padding-top: 140px;

    &__container {       
        padding-bottom: 100px;
    }

    &__title {
        max-width: 50%;

    }

    &__list {
        flex-wrap: wrap;
        margin-top: 95px;

    }

    &__item {
        width: 23.5%;
        margin-right: 2%;
        overflow: hidden;
        border-radius: 4px;
        position: relative;
        font-size: 0;
        margin-bottom: 2%;

        &:nth-child(4n) {
            margin-right: 0;
        }

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: var(--neptune-color);
            opacity: 0;       
            transition: opacity 0.4s ease-in-out;
        }

        &:hover::before {
            opacity: 0.9;
            transition: opacity 0.4s ease-in-out;
        }

        &:hover .become__text {
            transform: translateY(0);
            transition: transform 0.4s ease-in-out;
        }
    }

    &__image {
        max-width: 100%;
        object-fit: cover;
    }

    &__text {
        position: absolute;
        left: 0;
        bottom: 0;
        padding-left: 50px;
        padding-bottom: 60px;
        font-weight: 700;
        font-size: 24px;
        line-height: 31px;
        color: var(--white-color);
        transform: translateY(300px);
        transition: transform 0.4s ease-in-out;
    }

}