.featured-videos {
    padding-bottom: 50px;

    &__title {
        padding-top: 100px;
    }

    &__descr {
        font-family: 'SFCompact';
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        margin: 0 auto;
        max-width: 600px;
        color: #788692;
        margin-top: 25px;
        margin-bottom: 80px;
    }
}

.slide-1 {
    background-image: url("../../img/slider/slide-1.jpg");  
}

.slide-2 {
    background-image: url("../../img/slider/slide-2.jpg");
}

.slide-3 {
    background-image: url("../../img/slider/slide-3.jpg");
}

.slider__title {
    font-weight: 700px;
    font-size: 28px;
    color: var(--white-color);
    position: relative;
    z-index: 5;
    padding-left: 35px;
    padding-bottom: 30px;
    transition: transform 0.3s;
    transform: translateY(100px);
}

.slide-play {
    position: absolute;
    left: 40px;
    top: 40px;
    width: 112px;
    height: 112px;
    background-image: url("../../img/video-play.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}