.first {
    height: 100vh;
    min-height: 660px;
    background-image: url("../../img/first-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--white-color);
    

    &__container {
        position: relative;
        padding-top: 225px;
        padding-bottom: 200px;
        height: 100%;
    }

    &__link {
        background-color: rgba(28, 46, 61, 0.4);
        font-weight: 800;
        font-size: 11px;
        letter-spacing: 2px;
        padding: 15px 30px;
        border-radius: 100px;
        text-transform: uppercase;
        display: inline-block;
        margin-bottom: 40px;
    }

    &__title {
        font-weight: 700;
        font-size: 80px;
        line-height: 84px;
        max-width: 40%;
        margin-bottom: 40px;
    }

    &__descr {
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        max-width: 33%;
        margin-bottom: 50px;
    }

    &__btn {
        background-color: var(--accent-color);
        position: relative;
        z-index: 5;
        transition: background-color 0.3s;

        &:hover {
            transition: background-color 0.3s;
            background-color: var(--accent-hover-color);
        }
    }

    &__bottom {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        width: calc(100% - 60px);
        display: flex;
        align-items: flex-end;   
    }

    &__slider-btn {
        position: absolute;
        left: 50px;
        bottom: 33px;
        width: 30px;
        height: 30px;
        z-index: 20;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.btn-right {
    left: auto;
    right: 50px;
    background-image: url("../../img/arrow-right.svg");

}

.btn-left {
    background-image: url("../../img/arrow-left.svg");
}

.search-form {
    flex-shrink: 0;
    width: 70%;
    position: relative;
    overflow: hidden;
    border-top-left-radius: 4px;
    height: 100px;

    &__field {
        border: none;
        background-color: var(--white-color);
        width: 100%;
        height: 100%;
        color: var(--dark-color);
        padding-left: 55px;
        padding-right: 80px;
    }

    &__button {
        width: 18px;
        height: 18px;
        background-image: url("../../img/search.svg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        right: 55px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.main-slider {
    overflow: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 0;

    &__media {
        display: flex;
        justify-content: flex-end;
        max-height: 300px;
      
    }

    &__text {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--neptune-color);
        text-transform: uppercase;
        color: var(--white-color);
        font-size: 12px;
        letter-spacing: 2.18182px;
    }
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 400px;
}


@media (max-height: 1079px) {
    .first__container {
        padding: 120px 30px;
    }
}

@media (max-height: 880px) {
    .first {
        &__container {
        padding: 100px 30px;
        }

        &__link {
            padding-bottom: 30px;
        }

        &__title {
            font-size: 65px;
            line-height: 65px;
        }
    }
}

@media (max-height: 700px) {
    .search-form {
        height: 80px;
    }

    .main-slider__text {
        height: 80px;
    }

    .first {

        &__title {
            font-size: 54px;
            line-height: 54px;
            margin-bottom: 30px;
        }

        &__descr {
            font-size: 12px;
            margin-bottom: 30px;
        }

        &__btn {
            padding: 20px 20px;
        }
    }
}

