.footer {
    border-top: 1px solid #d9d9d9;
    padding-top: 100px;

    &__title {
        font-family: 'Helvetica', sans-serif;
        font-weight: 700;
        font-size: 12px;
        letter-spacing: 2.15px;
        text-transform: uppercase;
        color: #100E0B;
        position: relative;
        padding-bottom: 30px;
        margin-bottom: 20px;

        &::after {
            content: "";
            width: 48px;
            height: 1px;
            left: 0;
            bottom: 0;
            background-color: #57A773;
            position: absolute;
        }

    }

    &__link {
        font-weight: 500;
        font-size: 13px;
        color: #959EA6;
        display: inline-block;
        margin-bottom: 10px;
        transition: color 0.3s;

        &:hover {
            transition: color 0.3s;
            color:#585b5e;;
        }
    }

    &__links {
        display: flex;

        &-item {
            margin-left: 30px;
            
        }
    }

    &__bottom {
        border-top: 1px solid #d9d9d9;
        padding: 30px 0;
    }

    &__container {
        justify-content: space-between;
        padding-bottom: 120px;
    
    }

    &__copy {
        font-family: 'SFProText';
        font-size: 13px;
        line-height: 15px;
        color: #959EA6;
    }
}

.subs-form {
    width: 360px;

    &__field {
        width: 100%;
        height: 64px;
        border-radius: 8px;
        border: 1px solid #e4e4e4;
        padding-left: 30px;
        background-image: url(../../img/subs-user.svg);
        background-position: calc(100% - 30px) center;
        background-repeat: no-repeat;
    }

    &__btn {
        width: 100%;
        background-color: var(--neptune-color);
        margin-top: 15px;
        transition: background-color 0.3s;

        &:hover {
            transition: background-color 0.3s;
            background-color: var(--neptune-hover-color);
        }
    }
}

.bottom__container {
    justify-content: space-between;
}