.newsletter {
    padding-top: 50px;
    padding-bottom: 150px;

    &__content {
        --newsletter-gap: 133px;
        position: relative;
        border-radius: 8px;
        background-image: url("../../img/newsletter-bg.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: space-between;
        padding: 0 var(--newsletter-gap);
        padding-top: 300px;
    }

    &__text {
        max-width: 380px;
    }

    &__title {
        color: var(--white-color);      
        margin-bottom: 40px;
    }

    &__descr {
        font-family: 'SFCompact', sans-serif;
        font-size: 16px;
        line-height: 21px;
        color: var(--white-color);
        padding-bottom: 180px;
    }

    &__form {
        position: absolute;
        bottom: -96px;
        right: var(--newsletter-gap);
    }
}

.subscribe {

    &-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        width: 505px;
        height: 416px;
        border-radius: 8px;
        padding-top: 55px;

        &__field {
            width: calc(100% - (72px * 2));
            border: none;
            border-bottom: 1px solid rgba(28,46,61, 0.3);
            padding: 25px 0;
            font-size: 11px;
            letter-spacing: 2px;
            color: var(--dark-color);
            text-transform: uppercase;
        }

        &__btn {
            width: 100%;
            background-color: var(--neptune-color);
            margin-top: 74px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }

    

}